@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

*{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

body{
    position: relative;
    height: 100vh;
    color: black;
}

/* container et col */
.container{
    width: 1200px;
    transform: translate(20px, 150px);
    background-color: white;
}

.col-6{
    width: 50%;
}

/* box */
.box-0,
.box-1{
    height: 600px;
    padding: 20px;
}