@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');
*{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
body{
    position: relative;
    height: 90vh;
    color: black;
}
.col-6{
        width: 50%;
}
#player-0,
#player-1{
    font-size: 40px;
    font-weight: 100;
}
.active{
    background-color: rgb(243, 243, 243);
}
@media screen and (min-width:576px) {
.container{
        width: 1200px;
        transform: translate(20px, 150px);
        background-color: white;
}
.box-0,
.box-1{
    height: 620px;
    padding-top: 90px;
    
}
#score-0,
#score-1{
    font-size: 80px;
    font-weight: 100;
    color: red;
    margin-bottom: 180px;
}
.active::after{
    content: ".";
    font-size: 80px;
    font-weight: 500;
    color: red;
    position: relative;
    bottom: 545px;
    left: 100px;
}
.box-current-player{
    background-color: rgba(255, 0, 0, 0.785);
    color: white;
    width: 35%;
    transform:translate(95%, -20%) ;
    padding: 30px;
    text-align: center;
}
.box-current{
    font-size: 20px;
    color: black;
    margin-top: -10px;
    margin-bottom: 10px;
}
#current-0,
#current-1{
    font-size: 30px;
}
button{
    color: black;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    transform: translate(-20%);
    text-align: center;
}
button:hover{
    font-weight: 500;
    font-size: 25px;
    color: rgba(207, 0, 0, 0.897);
}
svg {
    color: red;
    margin-right: 10px;
    margin-bottom: 5px; 
}
#btn-game{
    top: 45px;
}
#btn-roll{
    top: 400px;
    left: 46%;
}
#btn-hold{
    top: 470px;
    left: 46%;
}
.Dice{
    position: relative;
    right: 3px;
    bottom: 460px;
}}

@media screen and (max-width: 575px){
.container{
        width: 500px;
        transform: translate(10px, 150px);
        background-color: white;
}
.box-0,
.box-1{
    height: 500px;
    padding-top: 50px;
}
#score-0,
#score-1{
    font-size: 60px;
    font-weight: 100;
    color: red;
    margin-bottom: 150px;
}
.active::after{
    content: ".";
    font-size: 50px;
    font-weight: 400;
    color: red;
    position: relative;
    bottom: 430px;
    left: 100px;
}
.box-current-player{
    background-color: rgba(255, 0, 0, 0.785);
    color: white;
    width: 40%;
    transform:translate(80%, -30%) ;
    padding: 15px;
    text-align: center;
}
.box-current{
    font-size: 12px;
    color: black;
    margin-top: -10px;
    margin-bottom: 10px;
}
#current-0,
#current-1{
    font-size: 30px;
}
button{
    color: black;
    font-size: 15px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    transform: translate(-20%);
    text-align: center;
     
}
button:hover{
    font-weight: 400;
    font-size: 20px;
    color: rgba(207, 0, 0, 0.897);
}
svg {
    color: red;
    margin-right: 10px;
    margin-bottom: 5px; 
}
#btn-game{
    top: 20px;
}
#btn-roll{
    top: 350px;
    left: 46%;
}
#btn-hold{
    top: 400px;
    left: 46%;
}

.Dice{
    position: relative;
    right: 3px;
    bottom: 350px;
}
}