@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

*{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

body{
    position: relative;
    height: 90vh;
    color: black;
}

/* container et col */
.container{
    width: 1200px;
    transform: translate(20px, 150px);
    background-color: white;
}

.col-6{
    width: 50%;
}

/* box */
.box-0,
.box-1{
    height: 620px;
    padding-top: 90px;
    
}

/* Joueurs */
#player-0,
#player-1{
    font-size: 40px;
    font-weight: 100;
}

#score-0,
#score-1{
    font-size: 80px;
    font-weight: 100;
    color: red;
    margin-bottom: 180px;
}

.active{
    background-color: rgb(251, 244, 244);
}

.active::after{
    content: ".";
    font-size: 80px;
    font-weight: 500;
    color: red;
    position: relative;
    bottom: 540px;
    left: 100px;
}

.box-current-player{
    background-color: rgba(255, 0, 0, 0.849);
    color: white;
    width: 40%;
    transform:translate(75%, -20%) ;
    padding: 30px;
    text-align: center;
}

.box-current{
    font-size: 20px;
    color: black;
    margin-top: -10px;
    margin-bottom: 10px;
}

#current-0,
#current-1{
    font-size: 30px;
}
